

@import url("https://fonts.googleapis.com/css?family=Satisfy"); 


#tagline {
    font-family: "serif"; 
    font-size: 300%; 
    object-fit: contain; 
    color: "white"; 

}

.sheet-sg {
    object-fit: contain;
    top: "800px"; 
    left: "80px"; 
    height: "120%";
    width: "100%";  
    min-width: "150px";
    min-height: "225px"; 
    max-width: "400px"; 
    background-image: url("https://res.cloudinary.com/duzmuxrsw/image/upload/v1604431907/singapore-flag-1_rp7kpm.jpg"); 
}

.sheet-sg:hover{
    transition: 0.8s;
    background: transparent;
 
}

.sheet-sw {
    object-fit: contain;
    top: "800px"; 
    left: "80px"; 
    height: "120%";
    width: "100%";  
    min-width: "150px";
    min-height: "225px"; 
    max-width: "400px"; 
    background-image: url("https://res.cloudinary.com/duzmuxrsw/image/upload/v1604432140/swizz_g5tb9t.jpg"); 
}

.sheet-sw:hover{
    transition: 0.8s;
    background: transparent;
 
}


.sheet-nz {
    object-fit: contain;
    top: "800px"; 
    left: "80px"; 
    height: "120%";
    width: "100%";  
    min-width: "150px";
    min-height: "225px"; 
    max-width: "400px"; 
    background-image: url("https://res.cloudinary.com/duzmuxrsw/image/upload/v1604432475/nz_nelvhp.png"); 
}

.sheet-nz:hover {
    transition: 0.8s;
    background: transparent;
}

#page2{
    background-image: url(https://res.cloudinary.com/duzmuxrsw/image/upload/v1605780107/Newz_ycruvw.jpg); 
    min-height: 100vh; 
    background-size: cover; 
}

#page3{
    background-image: url(https://res.cloudinary.com/duzmuxrsw/image/upload/v1605459747/Kempinski-Grand-Hotel-Des-Bains-St.-Moritz_ifiibs.jpg); 
    min-height: 100vh; 
    background-size: cover;
}

.infoDisp {
    display: none; 
}

a {
    color: white; 
    text-decoration: none;
    font-family: "Satisfy"; 
    font-size: 275%; 
}


.homeFooter {
    position: absolute;  
    width: 25%;
    height: 12.5%; 
    right: 2.5%;
    bottom: 0%;
    font-family: "Lato";
    margin: auto; 
    text-align: center;
    color: #f0f0f0;
    font-size: "300px";
    text-decoration: none;
}   