.background {
    background: url('https://res.cloudinary.com/duzmuxrsw/image/upload/v1606299992/unnamed_mmlmci.jpg') no-repeat center center fixed;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
        
    width: 100%;
    height: auto;
        
    position: fixed;
    top: 0;
    left: 0;
}


.viewhotel-tile {
    display: block;
    margin-left: 5%; 
    margin-top: 2.5%; 
}

.viewhotel-titlebar {
    display: inline-block;
    font-family: ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 40.796875px;
    color: #FFFFFF;    font-size: 30px; 
    width: 90%;
    height: 150px;  
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;     
}

.viewhotel-titlebar .left {
    text-align: left;
    float: left;  
    margin-left: 10px; 
}

.viewhotel-titlebar .right {
    text-align: center;
    float: right; 
    margin-right: 10px
}

.viewhotel-titlebar .viewhotel_price {
    text-align: right;
}

.viewhotel_price {
    font-size: 30px; 
    margin-right: 200; 
}

.viewhotel_rating {
    font-size: 15px; 
}

.viewhotel_location {
    font-size: 15px; 
}

.viewhotel-body {
    width: 90%;
    max-height: 300px; 
}


table {
    border-spacing: 10px;   
}


.left-image_slideshow {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 250px; 
    min-width: 250px; 
    height: 200px; 
    color: white;
}

.slide-image {
    max-width: 750px;
    max-height: 375px;
    height: 400px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.cost-sheet {
    background-color: rgba(0, 0, 0, 0.8);
    max-width: 75px;
    width: auto;  
    min-height: 200px;
    max-height: 200px; 
    color: white;
    font-size: 20px;  
}


.left-column img {
    max-width: 243px;
    max-height: 162px;  
    height: auto; 
    width: auto; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%; 
}

.right-column {
    margin-left: 200px; 
    max-width: 715px;
    max-height: 300px;
    width: 750px;
    height: 300px; 
    background-color: rgba(0, 0, 0, 0.8);
    color: white; 
}

.center {
    width: 800px;
    font-size: 12px; 
    left: 22.5%; 
    position: absolute;   
}

.center .viewhotel-amenities {
    font-size: 10px; 
}

.table-cell {
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px; 
    font-family: ubuntu; 
}

#email {
    width: 20%;
}

#rating {
    width: 5%; 
}

#description {
    width: 25%; 
}

#viewhotel-titlebar {
    display: inline-block;
    font-family: ubuntu;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 40.796875px;
    color: #FFFFFF;    font-size: 30px; 
    width: 90%;
    height: 70px;  
    background-color: rgba(0, 0, 0, 0.8); 
    color: white;
}

.inp-text {
    border-radius: 30px; 
    border: 5px solid #fff; 
    outline: none; 
    padding: 8px 8px 8px 20px; 
    font-family: ubuntu; 
    height: 300%; 
    float: left;
}

.inp-num {
    border-radius: 30px; 
    border: 5px solid #fff; 
    outline: none; 
    width: 50%; 
    padding: 8px 8px 8px 20px; 
    font-family: ubuntu; 
    height: 300%;
    float: left;  
}

